<h1>Show</h1>

<p>
    Title:<br>
    <%= @question.title %>
</p>
<p>
    name:<br>
    <%= @question.name %>
</p>
<p>
    content:<br>
    <%= @question.content %>
</p>

<%= link_to "index" , questions_path %>